body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color:gray;
	border-radius:0;
	border-bottom: 2px solid black;;
}
#header-nav .container{
	margin-left: 0px;
}
.navbar-brand{
	padding-top:20px;
	height: 70px;
}
.navbar-brand h1{
	font-family: 'Lora', sans-serif;
	font-size: 3.5vw;
	text-transform:uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;
	color: black;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top:10px;
}

#nav-list a{
	color: black;
	text-align: center;
}
#nav-list a:hover{
	background: white;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
h4{
	font-weight: bold;
}

#main-content .row div{
	background:gray;
	border: 1px solid black;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	height: 1000px;
}
@media (max-width: 767px)
{
	#collapsable-nav a{
		font-size:1.2em;
	}

}
